.custom-toggle {
  position: relative;
  display: flex;

  &__label {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: $color-charcoal;
    opacity: 0.9;
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;

    clip: rect(0 0 0 0);
  }

  label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 20px;

    // span {
    //   margin-bottom: 0;
    //   margin-left: 0;
    // }
  }

  &--checkbox {
    .custom-toggle__icon {
      position: absolute;
      top: 0;
      left: 0;

      width: 20px;
      height: 20px;

      border-radius: 2px;
      border: 1px solid rgba($color-cerulean-blue, 0.7);

      transition: border 0.3s ease;

      display: flex;
      justify-content: center;
      align-items: center;

      & svg {
        position: relative;
        z-index: auto;
        stroke-width: 2px;
        opacity: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 18px;
        height: 18px;

        background-color: rgba($color-cerulean-blue, 0);

        transform: translate(-50%, -50%);

        transition: background-color 0.3s ease;
      }

      &:hover,
      &:focus {
        border: 1px solid rgba($color-cerulean-blue, 1);
      }

      &:disabled {
        border: 1px solid rgba($color-cerulean-blue, 1);
        background-color: rgba($color-cerulean-blue, 0.6);
      }
    }
  }

  input:checked + .custom-toggle__icon {
    border: 1px solid $color-cerulean-blue;

    & svg {
      opacity: 1;
    }

    &::before {
      background-color: $color-cerulean-blue;
    }

    &:hover,
    &:focus {
      & svg {
        stroke: $color-cerulean-blue;
      }

      &::before {
        background-color: $color-default-white;
      }
    }

    &:disabled {
      border: 1px solid $color-mischka;

      & svg {
        stroke: $color-default-white;
      }

      &::before {
        background-color: $color-mischka;
      }
    }
  }

  &.is-invalid {
    label span {
      color: $color-wild-watermelon;
    }
  }

  .input-message {
    display: none;
    // position: absolute;
    // right: 0;
    // bottom: -5px;

    // &.is-invalid {
    //   color: #ff0000;
    // }

    // &.is-valid {
    //   color: #15ab07;
    // }
  }
}
