.custom-toggle {
  position: relative;
  display: flex;

  &__label {
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    color: $color-charcoal;
    opacity: 0.9;
  }

  input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);

    &:disabled {
      .custom-toggle__icon {
        border: 1px solid rgba($color-cerulean-blue, 1);
        background-color: rgba($color-cerulean-blue, 0.6);
      }

      input:checked + .custom-toggle__icon {
        border: 1px solid $color-mischka;

        & svg {
          stroke: $color-default-white;
        }

        &::before {
          background-color: $color-mischka;
        }
      }
    }
  }

  label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: flex;
    align-items: center;
    min-height: 20px;
  }

  &--checkbox {
    .custom-toggle__icon {
      position: absolute;
      top: 0;
      left: 0;

      width: 20px;
      height: 20px;

      border-radius: 2px;
      border: 1px solid rgba($color-cerulean-blue, 0.7);

      transition: border 0.3s ease;

      display: flex;
      justify-content: center;
      align-items: center;

      & svg {
        position: relative;
        z-index: auto;
        stroke-width: 2px;
        opacity: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;

        width: 18px;
        height: 18px;

        background-color: rgba($color-cerulean-blue, 0);

        transform: translate(-50%, -50%);

        transition: background-color 0.3s ease;
      }
    }

    &:hover,
    &:focus {
      .custom-toggle__icon {
        border: 1px solid rgba($color-cerulean-blue, 1);
      }

      input:checked + .custom-toggle__icon {
        & svg {
          stroke: $color-cerulean-blue;
        }

        &::before {
          background-color: $color-default-white;
        }
      }
    }
  }

  input:checked + .custom-toggle__icon {
    border: 1px solid $color-cerulean-blue;

    & svg {
      opacity: 1;
    }

    &::before {
      background-color: $color-cerulean-blue;
    }
  }

  &.is-invalid {
    .custom-toggle__icon {
      border: 1px solid rgba($color-wild-watermelon, 0.7);
      background-color: rgba($color-wild-watermelon, 0.2);
    }
  }

  .input-message {
    display: none;
  }

  &:focus-within {
    .custom-toggle__icon {
      border: 1px solid rgba($color-cerulean-blue, 1);
    }

    input:checked + .custom-toggle__icon {
      & svg {
        stroke: $color-cerulean-blue;
      }

      &::before {
        background-color: $color-default-white;
      }
    }
  }

  &--alt {
    .custom-toggle__label {
      color: $color-alabaster;
    }

    .custom-toggle__icon {
      border: 1px solid rgba($color-default-white, 0.7);
    }

    &:hover,
    &:focus {
      .custom-toggle__icon {
        border: 1px solid rgba($color-default-white, 1);
      }

      input:checked + .custom-toggle__icon {
        & svg {
          stroke: $color-default-white;
        }

        &::before {
          background-color: $color-cerulean-blue;
        }
      }
    }

    input:checked + .custom-toggle__icon {
      border: 1px solid $color-default-white;

      & svg {
        opacity: 1;
        stroke: $color-cerulean-blue;
      }

      &::before {
        background-color: $color-default-white;
      }
    }

    input[disabled] + .custom-toggle__icon {
      border: 1px solid rgba($color-default-white, 1);
      background-color: rgba($color-default-white, 0.6);
    }

    input[disabled][checked] + .custom-toggle__icon {
      border: 1px solid $color-mischka;

      & svg {
        stroke: $color-default-white;
      }

      &::before {
        background-color: $color-mischka;
      }
    }

    &:focus-within {
      .custom-toggle__icon {
        border: 1px solid rgba($color-default-white, 1);
      }
  
      input:checked + .custom-toggle__icon {
        & svg {
          stroke: $color-default-white;;
        }
  
        &::before {
          background-color: $color-cerulean-blue;
        }
      }
    }
  }
}
