.custom-input,
.custom-textarea {
  position: relative;
  display: flex;
  width: 100%;

  label {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;
  }

  input,
  textarea {
    flex-grow: 1;
    min-height: 50px;
    padding: 0 25px;
    border-radius: 8px;
    border: 1px solid rgba($color: $color-charcoal, $alpha: 0.3);
    outline: none;
    transition: border 0.3s ease;

    &:hover {
      border: 1px solid $color-charcoal;
    }

    &:active,
    &:focus {
      border: 1px solid $color-charcoal;
    }

    &:disabled {
      pointer-events: none;
      opacity: 0.3;
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: $color-charcoal;
    opacity: 0.8;
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;
    color: #ff1553;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &.is-invalid {

    input,
    textarea {
      border: 1px solid $color-wild-watermelon;
      background: rgba(255, 94, 102, 0.2);
    }
  }

  // &.is-valid {
  //   input {
  //     border: 2px solid #22b259;

  //     &:focus,
  //     &:hover {
  //       border: 2px solid rgba(#22b259, 0.5);
  //     }
  //   }
  // }

  // .input-message {
  //   position: absolute;
  //   right: 0;
  //   bottom: -5px;

  //   &.is-invalid {
  //     color: #ff0000;
  //   }

  //   &.is-valid {
  //     color: #15ab07;
  //   }
  // }
}
