.custom-input,
.custom-textarea {
  position: relative;
  display: flex;
  width: 100%;

  label {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 12px;

    &:hover {
      input,
      textarea {
        border: 1px solid $color-charcoal;
      }
  
      & .custom-input__label {
        color: rgba($color-charcoal, 1)
      }
    }
  
    &:focus-within {
      .custom-input__label,
      .custom-textarea__label {
        color: rgba($color-charcoal, 1)
      }
    }
  
    &:disabled {
      pointer-events: none;
      border: 1px solid rgba(169, 175, 183, 0.5);
      background: rgba(169, 175, 183, 0.2);
    }
  }

  input,
  textarea {
    flex-grow: 1;
    min-height: 50px;
    padding: 0 25px;
    border-radius: 8px;
    border: 1px solid rgba($color: $color-charcoal, $alpha: 0.3);
    outline: none;
    transition: border 0.3s ease;

    &:active,
    &:focus {
      border: 1px solid $color-charcoal;
    }

    &:disabled {
      border: 1px solid rgba(255, 255, 255, 0.4);
      background: rgba(255, 255, 255, 0.2);
    }
  }

  &__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba($color-charcoal, 0.8)
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;
    color: #ff1553;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &.is-invalid {
    input,
    textarea {
      border: 1px solid $color-wild-watermelon;
      background: rgba(255, 94, 102, 0.2);
    }
  }

  &--alt {
    label {
      .custom-input__label,
      .custom-textarea__label {
        color: rgba($color-alabaster, 0.8);
      }

      & input,
      textarea {
        border: 1px solid rgba($color: $color-default-white, $alpha: 0.3);
        background-color: $color-cerulean-blue;
        color: $color-default-white;

        &:active,
        &:focus {
          border: 1px solid $color-default-white;
        }

        &:disabled {
          pointer-events: none;
          border: 1px solid rgba(169, 175, 183, 0.5);
          background: rgba(169, 175, 183, 0.2);
        }
      }

      &:hover {
        .custom-input__label,
        .custom-textarea__label {
          color: rgba($color-alabaster, 1);
        }

        & input,
        textarea {
          border: 1px solid $color-default-white;
        }
      }

      &:focus-within {
        .custom-input__label,
        .custom-textarea__label {
          color: rgba($color-alabaster, 1);
        }
      }
    }
  }

  & textarea {
    height: 98px;
    padding: 10px 25px;
  }
}
