.faq {
  padding: 120px 106px 0;

  @include vp-1199 {
    padding: 120px 0 0;
  }

  &__container {
    display: flex;
    flex-direction: column;
  }

  &__title {
    text-align: center;
  }

  &__accordion-list {
    list-style-type: none;
    margin: 60px 0 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;

    @include vp-1199 {
      margin: 40px 0 0;
    }

    @include vp-767 {
      margin: 30px 0 0;
    }
  }

  &__accordion-item {
    padding: 40px;
    border-radius: 16px;
    border: 1px solid $color-cerulean-blue;

    @include vp-1199 {
      padding: 30px;
    }

    @include vp-767 {
      padding: 20px;
    }

    &.is-active {
      background-color: $color-cerulean-blue;

      & .faq__item-title,
      .faq__item-text {
        color: $color-default-white;
      }

      & .faq__item-content {
        margin: 30px 0 0;

        @include vp-767 {
          margin: 20px 0 0;
        }
      }

      & .faq__item-button {
        background-color: $color-default-white;

        & svg {
          stroke: $color-cerulean-blue;
        }
      }
    }
  }

  &__item-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }

  &__item-title {
    display: inline-block;
    margin: 0;
    font-size: 28px;
    font-weight: 400;
    line-height: 34px;
    color: $color-cerulean-blue;
    width: fit-content;

    @include vp-1199 {
      font-size: 22px;
      line-height: 26px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px
    }
  }

  &__item-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-cerulean-blue;
    border: 1px solid $color-cerulean-blue;
    border-radius: 50%;
    box-sizing: border-box;
  }

  &__item-content {
    margin: 0;
  }

  &__item-text {
    margin: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: $color-cerulean-blue;

    @include vp-1199 {
      line-height: 20px
    }

    @include vp-767 {
      font-size: 14px;
    }
  }
}
