.feedback {
  padding: 120px 0 0;

  @include vp-1199 {
    padding: 100px 0 0;
  }

  @include vp-767 {
    padding: 68px 0 0;
  }

  &__container {
    position: relative;
    display: flex;
  }

  &__bg {
    position: absolute;
    background-color: #d5d1cb;
    border-radius: 16px;
    overflow: hidden;
    width: 86%;
    height: 100%;

    & img {
      width: auto;
      height: 100%;
      object-fit: cover;
    }

    @include vp-1199 {
      width: 88%;

      & img {
        width: 100%;
        height: auto;
      }
    }

    @include vp-767 {
      display: none;
    }
  }

  &__form-wrapper {
    position: relative;
    z-index: 2;
    background-color: $color-cerulean-blue;
    max-width: 40%;
    padding: 80px 74px 50px;
    border-radius: 16px;

    @include vp-1199 {
      padding: 60px 45px 58px;
      max-width: 65%;
    }

    @include vp-767 {
      padding: 50px 15px;
      max-width: 100%;
      width: 100%;
    }
  }

  &__form-title {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    color: $color-default-white;

    @include vp-1199 {
      font-size: 28px;
      line-height: 28px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 22px;
    }
  }

  &__form-text {
    margin: 26px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: $color-alabaster;
    opacity: 0.9;

    @include vp-1199 {
      margin: 30px 0 0;
      line-height: 20px;
    }

    @include vp-767 {
      margin: 16px 0 0;
      font-size: 14px;
    }
  }

  &__form {
    margin: 20px 0 0;
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include vp-1199 {
      margin: 32px 0 0;
    }

    @include vp-767 {
      margin: 26px 0 0;
      gap: 18px;
    }
  }

  &__select-wrapper {
    margin: 4px 0 0;
    display: flex;
    flex-direction: column;
    gap: 12px;

    @include vp-1199 {
      margin: 0;
    }

    &:hover {
      .feedback__select-label {
        color: rgba($color-alabaster, 1);
      }

      & button {
        border: 1px solid $color-default-white;

        & svg {
          stroke: $color-default-white;
        }
      }
    }

    &:focus-within {
      & .feedback__select-label {
        color: rgba($color-alabaster, 1);
      }

      & .custom-select__button {
        border-color: rgba($color-default-white, 1);
      }

      & .custom-select__icon {
        & svg {
          stroke: rgba($color-default-white, 1);
        }
      }
    }

    &:disabled {
      & input,
      textarea {
        pointer-events: none;
        opacity: 0.3;
      }
    }
  }

  &__submit-button {
    margin: 22px 0 0;
    width: 100%;
    gap: 28px;

    @include vp-767 {
      margin: 14px 0 0;
      gap: 22px;
    }

    & .button__text {
      flex-grow: 1;
    }

    & .button__icon-wrapper {
      flex-shrink: 0;
    }
  }

  &__select-label {
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    color: rgba($color-alabaster, 0.8);

    @include vp-767 {
      font-size: 12px;
    }
  }

  &__custom-input {
    & label {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    & span {
      line-height: 14px;
    }
  }

  &__custom-toggle {
    margin: 4px 0 0;
  }
}
