.hero {
  &__container {
    position: relative;
    padding: 110px 100px 60px 100px;
    min-height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include vp-1199 {
      padding: 120px 45px 60px 45px;
      min-height: 1024px;
    }

    @include vp-767 {
      padding: 100px 15px 20px;
      min-height: 568px;
    }
  }

  &__swiper {
    &--bg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
      z-index: 1;

      & .hero__slide {
        width: 100%;
      }
    }

    &--content {
      position: relative;
      z-index: 2;
      width: 100%;
      height: 100%;
      margin: 0 auto;
      max-width: 1440px;

      & .hero__slide {
        width: 100%;
        padding: 0 22% 0 0;

        @include vp-1199 {
          padding: 0 5% 0 0;
        }

        @include vp-767 {
          padding: 0;
        }
      }

      & .swiper-wrapper {
        align-items: stretch;
      }

      & .swiper-slide {
        height: auto;
        display: flex;
        flex-direction: column;
      }

      & .hero__text-wrapper {
        flex-grow: 1;
      }
    }
  }

  &__slide-bg {
    width: 100%;
    height: 100%;
    background-color: #88aacd;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba($color-cerulean-blue, 0.2);
    }

    & img {
      object-fit: cover;
      width: 100%;
      height: auto;
    }

    @media (min-width: 1200px) and (max-width: 1440px) {
      & img {
        width: auto;
        height: 100%;
      }
    }
  }

  &__pagination-wrapper {
    background-color: $color-default-white;
    height: 38px;
    min-width: 94px;
    width: fit-content;
    border-radius: 20px 20px 0 0;
    position: relative;
    bottom: -1px;

    &::after {
      position: absolute;
      content: "";
      width: 20px;
      height: 20px;
      background-image: url("../../img/stack.svg#angle-20");
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      right: -20px;
    }

    @include vp-767 {
      border-radius: 12px 12px 0 0;

      &::after {
        width: 10px;
        height: 10px;
        background-image: url("../../img/stack.svg#angle-10");
        right: -10px;
      }
    }
  }

  &__pagination {
    bottom: 0 !important;  /* stylelint-disable-line */ //Переназначение стилей swiper
    top: 50%;
    left: 50% !important;  /* stylelint-disable-line */ //Переназначение стилей swiper
    transform: translate(-50%, -50%);

    & .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      background-color: $color-transparent;
      border: 1px solid $color-cerulean-blue;
      opacity: 1;

      &:hover,
      &:focus {
        background-color: $color-transparent;
      }

      &:active {
        background-color: $color-cerulean-blue;
      }
    }

    & .swiper-pagination-bullet-active {
      width: 10px;
      height: 10px;
      background-color: $color-cerulean-blue;
      border: 1px solid $color-cerulean-blue;
      opacity: 1;
    }
  }

  &__title {
    margin: 0;
    padding: 40px 50px 30px 50px;
    background-color: $color-default-white;
    font-size: 54px;
    font-weight: 400;
    line-height: 62px;
    color: $color-cerulean-blue;
    border-radius: 0 30px 30px 0;

    @include vp-1199 {
      padding: 30px 40px 24px 40px;
      font-size: 36px;
      line-height: 44px;
    }

    @include vp-767 {
      padding: 20px 14px 16px 14px;
      font-size: 22px;
      line-height: 26px;
      border-radius: 0 16px 16px 0;
    }
  }

  &__text-wrapper {
    margin: 0 200px 0 0;
    padding: 0 50px 35px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: $color-default-white;
    border-radius: 0 0 30px 30px;
    position: relative;
    top: -1px;

    &::after {
      position: absolute;
      content: "";
      width: 26px;
      height: 26px;
      background-image: url("../../img/stack.svg#angle-26");
      background-repeat: no-repeat;
      background-size: cover;
      top: 0;
      right: -26px;
    }

    @include vp-1199 {
      margin: 0 70px 0 0;
      padding: 0 40px 35px 40px;
    }

    @include vp-767 {
      margin: 0 30px 0 0;
      padding: 0;
      border-radius: 0;
      display: block;
      background-color: $color-transparent;

      &::after {
        width: 10px;
        height: 10px;
        background-image: url("../../img/stack.svg#angle-10");
        top: 0;
        right: -10px;
        transform: rotate(90deg);
      }
    }
  }

  &__text {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

    @include vp-1199 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 14px;
      display: block;
      padding: 0 14px 15px 14px;
      border-radius: 0 0 14px 0;
      background-color: $color-default-white;
    }
  }

  &__button-wrapper {
    @include vp-767 {
      margin: 0 80px 0 0;
      padding: 10px 15px;
      // width: fit-content;
      border-radius: 0 0 14px 14px;
      background-color: $color-default-white;
      position: relative;
      top: -1px;

      &::after {
        position: absolute;
        content: "";
        width: 10px;
        height: 10px;
        background-image: url("../../img/stack.svg#angle-10");
        background-repeat: no-repeat;
        background-size: cover;
        top: 0;
        right: -10px;
        transform: rotate(90deg);
      }
    }
  }
}
