.modal-feedback {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    // align-items: center;
    align-items: flex-start;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 60px 5%;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  &__content {
    position: relative;
    display: flex;
    padding: 54px 80px 60px;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    background-color: $color-default-white;
    width: 510px;

    @include vp-767 {
      width: 100%;
      padding: 40px calc(4% + 1px);
    }
  }

  &__close {
    position: absolute;
    top: 30px;
    right: 30px;
    margin: 0;
    padding: 0;
    border: 1px solid $color-transparent;
    background-color: $color-transparent;
    width: 23px;
    height: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    @include vp-767 {
      top: 20px;
      right: 20px;
    }

    &:hover,
    &:focus {
      & svg {
        stroke: rgba($color-cerulean-blue, 0.6)
      }
    }

    &:active {
      & svg {
        stroke: $color-endeavour;
      }
    }
  }

  &__title {
    margin: 0;
    font-size: 32px;
    font-weight: 400;
    line-height: 36px;
    text-align: center;
    color: $color-cerulean-blue;

    @include vp-1199 {
      font-size: 28px;
      line-height: 28px;
    }

    @include vp-767 {
      font-size: 18px;
      line-height: 18px;
    }
  }

  &__text {
    margin: 6px 0 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: center;

    @include vp-1199 {
      margin: 14px 0 0;
      font-size: 16px;
      line-height: 20px;
    }

    @include vp-767 {
      margin: 5px 0 0;
      padding: 0px 10%;
      font-size: 14px;
      line-height: 20px;
    }
  }

  &__form {
    margin: 18px 0 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 14px;

    @include vp-1199 {
      margin: 20px 0 0;
    }

    @include vp-767 {
      gap: 0;
    }

    & .custom-toggle {
      @include vp-767 {
        margin: 6px 0 0;
      }
    }
  }

  &__select-wrapper,
  &__toggle-wrapper {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &__select-wrapper {
    &:hover {
      .modal-feedback__label {
        color: rgba($color-charcoal, 1);
      }

      & button {
        border: 1px solid $color-charcoal;

        & svg {
          stroke: $color-charcoal;
        }
      }
    }

    &:focus-within {
      .custom-select__button {
        color: rgba($color-charcoal, 1);
      }
    }

    &:disabled {
      & input,
      textarea {
        pointer-events: none;
        opacity: 0.3;
      }
    }
  }

  &__submit-button {
    margin: 15px auto 0;
    width: fit-content;

    @include vp-767 {
      margin: 27px 0 0;
      width: 100%;
      gap: 20%;

      & .button__text {
        flex-grow: 1;
      }
    }
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
  }

  &__label {
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    color: rgba($color-charcoal, 0.8);
  }
}
