.programs-card {
  position: relative;
  border-radius: 12px;
  min-height: 420px;

  @include vp-1199 {
    width: calc(48% - 2px) !important; /* stylelint-disable-line */ //Переназначает стандартные настройки swiper
  }

  @include vp-767 {
    min-height: 398px;
    width: 100% !important; /* stylelint-disable-line */ //Переназначает стандартные настройки swiper
  }

  &__bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #737478;
    border-radius: 12px;
    overflow: hidden;

    &::after {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: rgba($color-cerulean-blue, 0.2);
    }

    & img {
      object-fit: cover;
      width: auto;
      height: 100%;
    }
  }

  &__content {
    padding: 20px;
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    @include vp-767 {
      padding: 20px 10px;
    }
  }

  &__content-wrapper {
    height: fit-content;
  }

  &__title {
    margin: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: $color-cerulean-blue;
    padding: 14px 18px 0;
    border-radius: 12px 12px 0 0;
    background: $color-default-white;
    position: relative;
    max-width: 55%;

    &::after {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      background-image: url("../../img/stack.svg#angle-18");
      background-repeat: no-repeat;
      background-size: cover;
      bottom: 0;
      right: -18px;
    }

    @include vp-1199 {
      max-width: 61%;
      font-size: 20px;
      line-height: 24px;
    }

    @include vp-767 {
      padding: 18px 18px 4px;
      max-width: 55%;
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 12px 18px 15px 18px;
    border-radius: 0 12px 12px 12px;
    background: $color-default-white;
    width: 92%;
    min-height: 81px;

    @include vp-1199 {
      padding: 6px 18px 14px 18px;
      width: 93%;
    }

    @include vp-767 {
      padding: 12px 18px 14px;
      width: 100%;
      min-height: 60px;
    }
  }

  &__text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    @include vp-1199 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
