.programs-card {
  position: relative;
  border-radius: 12px;
  min-height: 420px;
  width: 32%;

  &__bg {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #737478;
    border-radius: 12px;
    overflow: hidden;

    & img {
      object-fit: cover;
      width: auto;
      height: 100%;

      @include vp-1199 {
        width: 100%;
        height: auto;
      }
    }
  }

  &__content {
    padding: 20px;
    position: relative;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__content-wrapper {
    height: fit-content;
  }

  &__title {
    margin: 0;
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    line-height: 26px;
    color: $color-cerulean-blue;
    padding: 18px 18px 6px 18px;
    border-radius: 12px 12px 0px 0px;
    background: $color-default-white;
    position: relative;
    bottom: -1px;

    &::after {
      position: absolute;
      content: "";
      width: 18px;
      height: 18px;
      background-image: url("../../img/stack.svg#angle-18");
      background-repeat: no-repeat;
      background-size: cover;
      position: absolute;
      bottom: 0;
      right: -18px;
    }

    @include vp-1199 {
      font-size: 20px;
      line-height: 24px;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 18px;
    }
  }

  &__text-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    padding: 12px 18px 15px 18px;
    border-radius: 0px 12px 12px 12px;
    background: $color-default-white;
  }

  &__text {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;

    @include vp-1199 {
      line-height: 20px;
    }

    @include vp-767 {
      font-size: 12px;
      line-height: 14px;
    }
  }
}
