.button {
  margin: 0;
  padding: 4px 4px 4px 30px;
  border: 1px solid $color-cerulean-blue;
  border-radius: 30px;
  background-color: $color-transparent;
  min-width: 134px;
  min-height: 54px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  cursor: pointer;
  transition: 0.3s linear;

  @include vp-767 {
    padding: 4px 4px 4px 20px;
    min-height: 40px;
    gap: 10px;
  }

  &__text {
    font-size: 14px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    color: $color-cerulean-blue;

    @include vp-767 {
      font-size: 12px;
      line-height: 12px;
      letter-spacing: 0.24px;
    }
  }

  &__icon-wrapper {
    min-width: 46px;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    background-color: $color-cerulean-blue;
    display: flex;
    justify-content: center;
    align-items: center;

    & svg {
      stroke-width: 2px;
      transform: rotate(0deg);
    }

    @include vp-767 {
      min-width: 34px;
      width: 34px;
      height: 34px;
    }
  }

  &:hover,
  &:focus {
    background-color: $color-cerulean-blue;

    & .button__text {
      color: $color-default-white;
    }

    & .button__icon-wrapper {
      background-color: $color-default-white;

      & svg {
        stroke: $color-cerulean-blue;
        transform: rotate(45deg);
      }
    }
  }

  &:active {
    background-color: $color-cerulean-blue;

    & .button__text {
      color: rgba($color: $color-default-white, $alpha: 0.7);
    }

    & .button__icon-wrapper {
      background-color: $color-default-white;

      & svg {
        stroke: rgba($color: $color-cerulean-blue, $alpha: 0.7);
        transform: rotate(45deg);
      }
    }
  }

  &:disabled {
    background-color: $color-transparent;
    border-color: #a9afb7;
    cursor: default;

    & .button__text {
      color: #a9afb7;
    }

    & .button__icon-wrapper {
      background-color: #a9afb7;

      & svg {
        stroke: rgba($color: $color-default-white, $alpha: 0.6);
        transform: rotate(0deg);
      }
    }
  }

  &--alt {
    border: 1px solid $color-default-white;

    .button__text {
      color: $color-default-white;
    }

    .button__icon-wrapper {
      background-color: $color-default-white;

      svg {
        stroke: $color-cerulean-blue;
      }
    }

    &:hover,
    &:focus {
      background-color: $color-default-white;

      .button__text {
        color: $color-cerulean-blue;
      }

      & .button__icon-wrapper {
        background-color: $color-cerulean-blue;

        & svg {
          stroke: $color-default-white;
          transform: rotate(45deg);
        }
      }
    }

    &:active {
      background-color: $color-default-white;

      & .button__text {
        color: rgba($color: $color-cerulean-blue, $alpha: 0.7);
      }

      & .button__icon-wrapper {
        background-color: $color-cerulean-blue;

        & svg {
          stroke: rgba($color: $color-default-white, $alpha: 0.7);
          transform: rotate(45deg);
        }
      }
    }

    &:disabled {
      background-color: $color-transparent;
      border-color: #a9afb7;
      cursor: default;

      & .button__text {
        color: #a9afb7;
      }

      & .button__icon-wrapper {
        background-color: #a9afb7;

        & svg {
          stroke: rgba($color: $color-default-white, $alpha: 0.6);
          transform: rotate(0deg);
        }
      }
    }
  }
}
