@font-face {
  font-style: normal;
  font-family: "Manrope";
  font-display: swap;
  src: url("/fonts/Manrope-VariableFont_wght.woff2") format("woff2"), url("/fonts/Manrope-VariableFont_wght.woff") format("woff");
}
